[2019-03-27 13:34] flashspys opened #2 "Swift 5 support"
Do you have already an ETA for Swift 5 support?

[2019-03-27 21:30] dmhts commented on #2
Up!

[2019-03-28 13:03] theSoenke commented on #2
Hi, we have this on our roadmap. And we will likely create a new release for it soon. But I don't have an exact date for this yet

[2019-03-28 14:24] ChristianSteffens commented on #2
Would be great to know a potential release date: This is currently blocking our project's migration to Swift-5.0. If you need any help testing the new release, we would be glad to help you out.

[2019-03-28 14:45] theSoenke commented on #2
@ChristianSteffens Thanks for letting me know. Will definitely get back to you as soon as we have a release ready for testing

[2019-03-29 10:21] dmhts commented on #2
@theSoenke Thanks, because this blocking our migration process as well.

[2019-03-29 10:23] ANGOmarcello commented on #2
Would love to see this

[2019-04-09 14:14] ChristianSteffens commented on #2
Seems to work - thanks a lot.

[2019-04-11 10:13] theSoenke commented on #2
Great. Thanks for the confirmation

[2019-04-11 10:13] #2 closed

[2019-04-18 14:35] vCrespoWunder opened #5 "More information in PhraseAppTranslationResult.error"
Hi! I'm using the latest version `1.0.0` with Swift 5.0.1

It would be really nice to have some more information in the enum. Similar thing as success contains an "updated" value, it would be really helpful to provide an associated value in case of error (without throw)

I guess maybe `PhraseAppError` type so you have more control?
[code]
The 'why' is because I'm getting a `PhraseApp.NetworkError.

[2019-04-18 18:31] theSoenke commented on #5
Hi, thanks for reporting this. This is really not the best error message yet. Could you maybe contact us at https://phraseapp.com/contact or via the embedded chat on PhraseApp and include your distribution, environment token and a link to this issue for reference? Then we can have a closer look at what the exact cause for this is.

Currently the most likely reason is that the app version does not

[2019-04-26 11:49] theSoenke commented on #5
Hi, did you already manage to get the SDK working? We've also just released another SDK version which should provide better error messages in case this was a semantic versioning issue: https://github.com/phrase/ios-sdk/releases/tag/1.1.0

[2019-06-06 11:53] flashspys opened #8 "Swift 5.1 support"
As in #2, Swift 5.1 should be supported, too.

[2019-06-07 08:03] theSoenke commented on #8
Hi, we plan to release soon an updated version for Swift 5.1. We will let you know as soon as it is available

[2019-06-18 10:55] jdmoreira commented on #8
I upvote this request

[2019-07-04 12:37] ChristianSteffens commented on #8
Any news on that - PhraseApp's SDK is the only framework holding our Swift-5.0 migration back.

[2019-07-08 08:06] theSoenke commented on #8
We are currently waiting for the final 5.1 release of Swift before we update the SDK. Any reasons why you are already using the pre-release version of Swift?

[2019-07-08 12:02] flashspys commented on #8
We are testing our app already on iOS 13 to be ready for the launch in September. For this we already migrated our codebase to be compatible with Swift 5.1. You are the only binary Swift SDK we are using at the moment. For every minor Swift update we have to first exclude your SDK and then, if you released your update, we include it again. And exactly this is the reason why you don't release a **b

[2019-07-09 08:56] timleers commented on #8
@flashspys you are absolutely right. We will take care of this issue with high priority and inform you as soon as the new version is released which will probably happen within the next two days

[2019-07-10 15:45] timleers commented on #8
@flashspys new version 1.2.0 was generated with Swift version 5.1 (swiftlang-1100.0.212.5 clang-1100.0.28.2) and is available now
Please let us know if you have any issues with it

[2019-07-10 15:52] ChristianSteffens commented on #8
You should probably release this version as beta release - otherwise all non Swift `5.1` users will have a problem now ;-)

[2019-07-10 16:30] timleers commented on #8
@ChristianSteffens good point :) I changed that and sorry for the inconvenience

[2019-07-26 13:02] theSoenke commented on #8
Hi, a quick update regarding Swift 5.1 support. As @ChristianSteffens pointed out correctly this still is an issue for all non Swift 5.1 users. For now, the master now points again at the last release for Swift 5.0. To be able to use use the Swift 5.1 version you can add the following to your Podfile: `pod 'PhraseApp', :git => 'https://github.com/phrase/ios-sdk.git', :tag => '1.2.0-beta'
`

[2019-09-03 07:22] arrabidas92 commented on #5
Hi, I face the same issue as @vCrespoWunder
When trying to integrate IOS SDK Over the air, I have a `PhraseApp.NetworkError.statusError`. I have semantic versioning so this is not the issue. Do you have any insights causing this issue ?

[2019-09-03 08:01] theSoenke commented on #5
Hi @arrabidas92, could you contact us at https://phrase.com/contact or write us a message via the chat? Then we can figure out what might be the issue here. You are also using at least version 1.1.0 right?

[2019-09-03 08:30] arrabidas92 commented on #5
I am using the lastest version downloaded via Cocoapods since I installed it yesterday. Already send a message via the chat. I am waiting for a response.

[2019-09-05 10:56] #5 closed

[2019-09-20 08:30] jensutbult commented on #8
There's still no functional SDK that work with the latest version of Xcode. We really need this and I guess a lot of other customers do as well. Since we pay handsomely for the Phraseapp service I don't think it is unreasonable to expect a matching SDK well ahead of the launch a new version of iOS.

[2019-09-20 13:18] theSoenke commented on #8
Hi, we are currently working on a solution to provide support for the latest XCode version. Unfortunately there are some breaking changes and not all tools are fully ready yet. We will provide further details about this on Monday. We will also make sure that we have a smoother upgrade experience for releases in the future whenever possible

[2019-09-23 17:17] suho commented on #8
Hi @theSoenke, do you have any update support for the latest Xcode version?.
I'm working on Xcode 11.0, and I have this error:
`Module compiled with Swift 5.0 cannot be imported by the Swift 5.1 compiler: /Pods/PhraseApp/PhraseApp.framework/Modules/PhraseApp.swiftmodule/x86_64.swiftmodule`

[2019-09-23 18:56] theSoenke commented on #8
Quick update. With the final releases of Swift 5.1 and XCode 11 we will publish a new release as soon as possible

[2019-09-24 01:44] suho commented on #8
Thanks

[2019-09-26 12:20] ValentinDenis commented on #8
Hello @TheSoenke, any update on the new version ? Can you provide an ETA ? We had to downgrade to XCode 10.3 just for one project that uses the Phrase SDK

[2019-09-26 12:31] winkelsdorf commented on #8
@ValentinDenis The release of the updated Phrase SDK is planned for the next 24 hours

[2019-09-27 13:04] winkelsdorf commented on #8
The Swift 5.1 compatible Phrase SDK release has been published. Feel free to update using `pod update` if you're using CocoaPods. Let me know if you have any further questions.

[2019-09-27 13:46] jensutbult commented on #8
Are you guys sure 1.2 is compiled with Swift 5.1? I get the following error message when compiling:
`Module compiled with Swift 5.0 cannot be imported by the Swift 5.1 compiler`
The header file (PhraseApp-Swift.h) also seems to indicate that 1.2 is in fact built with Swift 5.0:
`// Generated by Apple Swift version 5.0 (swiftlang-1001.0.69.5 clang-1001.0.46.3)`

[2019-09-27 13:53] winkelsdorf commented on #8
@jensutbult Yes, Swift 5.1 had been used.

I re-downloaded it and in the `PhraseApp-Swift.h` I see the correct comment:
<img width="692" alt="Screenshot 2019-09-27 at 15 50 03" src="https://user-images.githubusercontent.com/1413291/65774554-c45a8780-e13e-11e9-82ca-ff665b76123c.png">

Can you please verify that you updated your Pod or download the framework from https://github.com/phrase/ios-sdk/re

[2019-09-27 14:19] winkelsdorf commented on #8
@jensutbult Issue has been resolved. Please force a re-download of the framework.

I assume you are using CocoaPods? If so, please remove the PhraseApp SDK from it's cache and update the pod by running:

[code]

Sorry for the inconvenience this has created for you!

[2019-09-27 14:19] #8 closed

[2019-11-04 06:57] trevorwang opened #10 "Swift 5.1.2 support"
It doesn't work when I updated to latest xcode.

[code]

[2019-11-04 11:24] winkelsdorf commented on #10
@trevorwang Thank you for bringing this to my attention. We will be releasing an updated framework later today which fixes module stability. Sorry for the inconvenience it caused you!

[2019-11-04 12:23] angelolloqui commented on #10
Same thing here! waiting for that update! thanks!

[2019-11-04 17:20] winkelsdorf commented on #10
An updated SDK that has been built for Swift 5.1.2 has been released: https://github.com/phrase/ios-sdk/releases/tag/1.2.2.

Due to a known issue with the Swift compiler itself, we need to postpone the use of Module Stability to a later release as this would would introduce a breaking change.

[2019-11-04 17:20] #10 closed

[2019-11-04 17:44] angelolloqui commented on #10
Works fine! for future releases, I suggest you distribute the source code instead of the built framework. That way we could also contribute if anything arises. Thanks for the quick response anyway!

[2019-11-04 17:51] winkelsdorf commented on #10
@angelolloqui Thank you for your feedback, you're welcome! We will discuss your suggestion internally 👍

[2019-11-09 12:15] dmhts commented on #10
@winkelsdorf

I'm just wondering, what known issue are you referring to?

[2019-11-12 09:46] winkelsdorf commented on #10
@dmhts There is a known issue with the namespace of a framework and its classes, mentioned in the Xcode 11.2 release notes (https://developer.apple.com/documentation/xcode_release_notes/xcode_11_2_release_notes):

This has been reported in the Swift forums previously: https://forums.swift.org/t/frameworkname-is-not-a-member-type-of-frameworkname-errors-inside-swiftinterface/28962.

Despite this, t

[2019-11-13 20:59] dmhts commented on #10
Thanks, I thought you had some concrete issues with your library. Anyway, it's reasonable to wait until module stability gets stable 👍

[2019-11-14 20:33] winkelsdorf commented on #10
@dmhts You're welcome and thank you for your understanding! No, just the compiler issue with the module's namespace. Exactly, we will test the new functionality with each release and provide `Module Stability` as soon as possible and as soon as it appears reasonable.

[2019-12-17 08:53] winkelsdorf commented on #10
Update: A new release fully supporting module stability is available now. Please see https://github.com/phrase/ios-sdk/releases for details.

[2019-12-18 18:35] dmhts commented on #10
@winkelsdorf Thanks a lot for letting us know!

[2019-12-18 22:06] winkelsdorf commented on #10
@dmhts You're welcome!

[2020-04-21 22:09] fal-alexandr opened #13 "Please, upgrade ios sdk with swift 5.2.2 support"
Unable to setup with carthage and latest Xcode 11.4.1 installed

[2020-04-22 07:12] winkelsdorf commented on #13
@fal-alexandr Thanks for reaching out and bringing this to our attention!

I'm able to reproduce your issue with Carthage v0.34:
[code]

Let me try to explain why this error message is misleading:

The Phrase iOS SDK is compiled with enabled **Module Stability**. This means it works with newer Swift compiler versions right out of the box. Beside Module Stability, especially minor version upgrades

[2020-04-22 10:31] fal-alexandr commented on #13
thanks, that did help!

[2020-04-22 10:31] #13 closed

[2020-04-22 10:45] winkelsdorf commented on #13
@fal-alexandr You're very welcome, thanks for the feedback! Glad I could help 😊

[2020-04-29 08:36] irlennard opened #14 "Swizzling not working"
I'm using the Phrase OTA SDK in my Swift app, and it appears that the swizzling is not working. `NSLocalizedString()` does not give me the updated translations, `Phrase.shared.localizedString(forKey:)` does however (I did not turn off swizzling). I'm using the latest SDK (2.1.0) with Xcode 11.4.1 and Swift 5.2.2.

[2020-04-29 08:53] winkelsdorf commented on #14
@irlennard Thank you for your report!

When swizzling is enabled `Phrase.shared.localizedString(forKey:)` internally just forwards to `Bundle.main.localizedString(forKey:)` (as this method is swizzled).

Without seeing any code, I think you are probably running into a timing issue. The completion closure  of `updateTranslations()` is a safe place to re-assign translations with `NSLocalizedString()

[2020-04-29 09:40] irlennard commented on #14
Thanks for the tip. It was indeed just a timing issue as I was initialising the Phrase SDK just after creating the app's root view controller.

[2020-04-29 09:42] winkelsdorf commented on #14
@irlennard You're weclome, glad I could help! 😊 No problem, asynchronous network communication is always a bit tricky to handle, especially when UI comes into play.

[2020-04-29 09:42] #14 closed

[2020-06-05 08:06] basine opened #16 "Phrase seems to be using incorrect locale"
We are trying to localise our app for the German and Swiss market and have noticed a behaviour that seems incorrect to us:

When the user has selected Germany as their country, but Swiss German as their preferred language in settings, we would expect the app to update the Swiss German de-CH translation.
In reality it is trying to download the German translation de-DE.

This seems incorrect, since

[2020-06-05 08:21] basine opened #17 "Fallback localization should consider language component before defaulting"
We are trying to localise our app for the German and Swiss market and have noticed a behaviour that could be improved:

We already have a German translation "de" and have recently added "de-CH". In an ideal world (TM) we wouldn't need to duplicate all translations in the sub-localisation. Instead we should be able to only include those that we want to explicitly override.

Your SDK already handles

[2020-06-05 08:29] winkelsdorf commented on #16
Thank you for bringing this to our attention @basine.

We will check the behaviour and give feedback at short notice.

A question for better understanding: Is Swiss German (de-CH) also made available as language in the Xcode Project and assigned as translation in the OTA backend, too?

[2020-06-05 08:35] winkelsdorf commented on #17
Thank you for the enhancement suggestion @basine!

Regarding the fallback update behaviour: This is correct, in the current implementation the fallback is the translation delivered by iOS from the translation shipped with the project. But I understand your point.

@theSoenke Is this something that we can handle in the Backend?

[2020-06-05 08:40] basine commented on #16
Yes, I added them for testing the behaviour

[2020-06-05 08:43] basine commented on #16
Sorry, this detail isn't really clear though: We have a "de" localization and a "de-CH" both on Phrase and in the app. There is no "de-DE" localization.

[2020-06-05 08:51] winkelsdorf commented on #16
@basine No problem, thanks for the clarification! I'll try to reproduce this asap.

[2020-06-05 08:57] theSoenke commented on #17
@winkelsdorf You're right. That is something we would have to handle in the backend

@basine Right now there is only a fallback to the default locale or locale without a region if it exists. For example when `de-CH` does not exist `de` would be the fallback locale.

But if `de-CH`exists it would not use any fallback translations from `de`. So this is not not something we currently support. But thi

[2020-06-05 12:08] ffittschen commented on #16
We have a similar problem at the moment:
When setting only the language instead of language and region, we won‘t get the expected OTA translations, but Phrase is returning the translation from the fallback.

Example:
Phrase project is configured with these languages:
- `de_DE`
- `en_US`
- `nl_NL`
- Etc

When changing the language on the phone (or simulator) but keeping the region, we often get com

[2020-06-08 07:26] winkelsdorf commented on #16
@basine I was able to reproduce the mentioned behaviour with the locale setup given. We are going to release an update later this week. Thank you very much for reporting!

@ffittschen Your issue is likely different from what @basine describes. The fallback is handled in the Backend, so https://github.com/phrase/ios-sdk/issues/17 is probably what you need, too? @theSoenke

[2020-06-08 08:15] ffittschen commented on #16
@winkelsdorf Indeed, sorry. I was reading both issues and replied to the wrong one. I'll move the comment over to #17 .

[2020-06-08 08:17] ffittschen commented on #17
Moved this comment over from #16:

We have a similar problem at the moment:
When setting only the language instead of language and region, we won‘t get the expected OTA translations, but Phrase is returning the translation from the fallback.

Example:
Phrase project is configured with these languages:
- `de_DE`
- `en_US`
- `nl_NL`
- Etc

When changing the language on the phone (or simulator) but k

[2020-06-08 08:22] winkelsdorf commented on #16
@ffittschen No problem, that's what I thought. Thanks for the clarification 👍

[2020-06-19 13:17] winkelsdorf commented on #16
@basine Sorry for the delay. I would like to inform you that this and another problem have been successfully identified and resolved. An update will be released soon.

[2020-06-19 16:54] #16 closed

[2020-06-19 16:59] winkelsdorf commented on #16
@basine Thank you for your patience. The release is now available 🚀

[2020-06-22 08:24] sam-w commented on #13
@fal-alexandr and for anyone watching this issue, the problem should now be fixed with the release of Carthage 0.35.0

[2020-06-22 09:40] winkelsdorf commented on #13
@sam-w Thank you very much for the follow-up on this! We really appreciate your feedback 💯

[2020-07-18 21:08] edl00k opened #18 "Support Swift Package Manager?"

[2020-07-21 09:54] Alpexs opened #19 "Support manual app version entry"
Hello,

I saw that on Android the SDK supports a custom app version number ( `Phrase.setAppVersion("3.2.4");`), our app currently doesn't have a semantic version format ( we have something like `8304` ).
We do have a computed variable which returns the semantic formatted string.

Is it something that can/planned to get done on the iOS SDK ?

Thanks.

[2020-07-21 19:02] winkelsdorf commented on #18
@edl00k Thank you for your suggestion!

Swift Package Manager will probably support binary dependencies with the release of Swift 5.3. The current Swift version is 5.2.4, released on May 20, 2020.

But we are following Apple's development in this area, it is something that is on our roadmap for later this year. Using SPM probably requires the use of `xcframeworks` bundles, which are currently unsu

[2020-07-21 19:02] #18 closed

[2020-07-21 19:05] edl00k commented on #18
got it, thanks for the answer

[2020-07-21 19:11] winkelsdorf commented on #18
@edl00k You're welcome!

[2020-07-22 08:55] winkelsdorf commented on #19
Hello @Alpexs,

thanks for the suggested enhancement! I will pass on the suggestion and think that we can already provide this in the next release.

Best regards,
Frederik

[2020-08-19 03:20] ChristianSteffens commented on #17
We're also facing this issue. Would be nice to get some feedback on that. I do find this to be a quite common scenario, this should be covered.

[2020-09-07 08:38] winkelsdorf commented on #19
Hello @Alpexs,

I'm happy to announce a new release including your proposed change. Starting with Release 2.3.0 you can now provide an override with a semantic app version to the iOS SDK, too.

Release is available through CocoaPods or here: https://github.com/phrase/ios-sdk/releases/tag/2.3.0.

Best regards,
Frederik

Example given:
[code]

[2020-09-07 08:38] #19 closed

[2020-09-24 08:48] mattiriihimaki opened #21 "Compile with Xcode 12 Apple Swift version 5.3"
I'm getting an error while trying to compile my project.

Failed to build module 'PhraseSDK' from its module interface; the compiler that produced it, 'Apple Swift version 5.2.4 (swiftlang-1103.0.32.9 clang-1103.0.32.53)', may have used features that aren't supported by this compiler, 'Apple Swift version 5.3 (swiftlang-1200.0.29.2 clang-1200.0.30.1)'

[2020-09-24 08:58] winkelsdorf commented on #21
Hello @mattiriihimaki,

I just re-verfied the SDK 2.3.1 pod to be working with Xcode 12 on iOS 13.5 and 14.0. Could you please provide more details about your setup? Are you using Carthage by any chance?

The above error should not happen, as the SDK is compiled with "Build library for distribution" (a.k.a. Module Stability). Iirc Carthage has known issues with Xcode 12 so that's probably somethin

[2020-09-24 10:31] mattiriihimaki commented on #21
I'm using the CocoaPod 1.9.3 and 2.3.1 PhraseSDK

Build to a device or to "Any iOS Device" works but building for a simulator fails.

"unable to load standard library for target 'arm64-apple-ios9.0'"

[2020-09-24 11:07] winkelsdorf commented on #21
@mattiriihimaki The error is very likely related to your project file and CocoaPods way of linking framework architectures. As to my knowledge Xcode never had any ARM64 simulator, but the simulator is always x86_64  (but in future we'll see Simulators with ARM64 for Apple Silicon). So the reference to the standard library `arm64-apple-ios9.0` is never right for the Simulator.

Please see https://s

[2020-09-24 14:35] mattiriihimaki commented on #21
Yea, I was able fix the problem with this https://stackoverflow.com/questions/63607158/xcode-12-building-for-ios-simulator-but-linking-in-object-file-built-for-ios. So, this had nothing to do with your SDK. Sorry and thank you for the help :)

[2020-09-24 14:35] #21 closed

[2020-09-25 06:41] winkelsdorf commented on #21
@mattiriihimaki You're welcome and thank you for your feedback! I am glad to hear that I was able to point in the right direction. No problem, sometimes it' s difficult to find out where problems have their origins. Especially with Xcode 12 😅

[2020-09-30 09:30] cheif opened #22 "Better support for using PhraseSDK in extension (remove warning)"
Hi!

Right now it's possible to link against PhraseSDK from an extension, but you'll get the warning:
`ld: warning: linking against a dylib which is not safe for use in application extensions: .../PhraseSDK.framework/PhraseSDK`

I guess we're not unique in our desire for using OTA updates in extensions, and I hope that there's something you can do about it.
In the best case it should just be to fl

[2020-09-30 09:39] winkelsdorf commented on #22
Hi @cheif,

that's an excellent suggestion, thanks for bringing it to our attention!

You are right, we need to check API usage and for correct handling of Bundles and Network Sessions. I'll discuss this with the team and will keep you updated on this.

[2020-10-27 08:53] aortegas opened #23 "Carthage build failed with Swift 5.3"
*** Downloading binary-only framework PhraseSDK at "https://raw.githubusercontent.com/phrase/ios-sdk/master/PhraseSDK.json"

Incompatible Swift version - framework was built with 5.2.4 (swiftlang-1103.0.32.9 clang-1103.0.32.53) and the local version is 5.3 (swiftlang-1200.0.29.2 clang-1200.0.30.1).

[2020-10-27 08:58] winkelsdorf commented on #23
@aortegas Please update your Carthage version to latest Carthage master. The Phrase SDK framework is built using Module Stability and works fine with Swift 5.3.

Please see https://github.com/phrase/ios-sdk/issues/13 and https://github.com/Carthage/Carthage/issues/2887.

Please let me know if this solves the issue for you.

[2020-10-27 10:13] aortegas commented on #23
Resolved @winkelsdorf
Thanks for your help.

[2020-10-27 10:13] #23 closed

[2020-10-27 14:52] winkelsdorf commented on #23
@aortegas You're welcome, glad I could help!

[2020-10-29 08:52] cheif opened #24 "Support for Swift Package Manager"
Now when there's support for binary dependencies in SPM, it would be great if we could use SPM for the phrase-sdk as well.

Here's some info about how it's done.
https://developer.apple.com/documentation/swift_packages/distributing_binary_frameworks_as_swift_packages

If I understand it correctly this would require a `.xcframework` instead of the current `.framework`, then it should just be a matt

[2020-10-29 09:04] winkelsdorf commented on #24
Hello @cheif,

Thanks for the good suggestion for improvement! That's right, since the release of Xcode 12/Swift 5.3 last month, the Swift Package Manager finally supports binary frameworks (using the mentioned `.xcframework` with its platform slices). We will check this internally as soon as possible and discuss the necessary changes and adjustments to our release process.

I'll leave this ticket

[2020-11-04 15:02] tonnihyldgaard commented on #24
Hi @winkelsdorf,
We are working a prototype for one of our apps, and would like to hear if there's been any updates to when the Xcode 12 / Swift 5.3 with/without SPM support hits GitHub? :)
Thank you 🙏

[2020-11-04 15:14] winkelsdorf commented on #24
@tonnihyldgaard The SDK _is_ already Swift 5.3 / Xcode 12 ready since v2.0.0 (which enables Module Stability), just without SPM package. Feel free to use CocoaPods or Carthage in the meantime :)

[2020-11-09 09:12] srdanrasic commented on #24
Hey @winkelsdorf. What is the reason SPM is not supported already?

[2020-11-09 09:46] winkelsdorf commented on #24
Hello @srdanrasic,

Gladly I try to give some more insight.

So far we use a framework which contains different architectures as fat binary, which are splitted automatically (CocoaPods) or manually (see Phrase SDK Support pages) during the integrating build process.

The Swift Package Manager did not have support for binary frameworks prior to Swift 5.3, which was released about 7 weeks ago. The S

[2020-11-11 22:57] srdanrasic commented on #24
Thanks for the detailed answer @winkelsdorf.

With the announcement of new ARM based Macs, I think that support for xcframeworks might be needed sooner than later in order to support multiple ARM slices in a single binary framework.

I've already built a number of xcframeworks, so feel free to reach out if you stumble upon any issues when you decide to do the same.

[2020-11-12 12:55] michalmludzik opened #25 "Add swizzling support for NSLocalizedString function invocation with bundle parameter."
As modular architecture in mobile development becomes more popular, there is a need of supporting OTA updates of Localizable resources stored in different Bundles. Current PhraseSDK assumes that every module uses the resources stored in the main Application Bundle thus swizzling the NSLocalizedString method invocations that don't pass the bundle parameter only.

In the mentioned architecture the A

[2020-11-16 15:56] theSoenke commented on #17
Thanks a lot for your feedback. From what I can tell there are two issues:

First, there is no fallback from translations as @basine mentioned e.g. missing translations in de-CH will not be filled from de. We've also discussed this in the team and agree that this is an important feature. Unfortunately, we most likely won't have the time to release it this year but likely will tackle it early next

[2020-11-16 16:06] winkelsdorf commented on #25
@michalmludzik Thank you for your enhancement suggestion. I forwarded this to the team for an internal discussion.

[2020-11-16 16:08] winkelsdorf commented on #24
@srdanrasic Absolutely right, we're aware of the current (major) changes Apple's Platform is undergoing. I forwarded this to our team for discussion. Keeping you updated as soon as there are any news.

[2020-12-15 12:01] cabeca opened #26 "Error building with PhraseSDK for the iOS simulator on an M1 Mac"
Hello,

I'm trying to build our project on a brand new M1 MacBook Pro, but I get this error:

`Failed to build module 'PhraseSDK' from its module interface; the compiler that produced it, 'Apple Swift version 5.2.4 (swiftlang-1103.0.32.9 clang-1103.0.32.53)', may have used features that aren't supported by this compiler, 'Apple Swift version 5.3.1 (swiftlang-1200.0.41 clang-1200.0.32.8)' `

I'm us

[2020-12-15 12:08] winkelsdorf commented on #26
Hello @cabeca,

thanks for your report! How are you integrating the SDK? Carthage, CocoaPods or manually? The error you provide points to an issue with Module Stability, which is enabled.

But for M1 arm64 you will likely need a new build if you are targeting the arm64 _Simulator_. We are planning to release an Universal xcframework Version within the next 2-3 weeks.

[2020-12-15 12:57] cabeca commented on #26
Sorry for the lack of information.

We are integrating the PhraseSDK manually.

Yes. I forgot to mention that I was building for the iOS simulator on the M1 Mac.

Looking forward for the new XCFramework release!

[2020-12-15 13:16] winkelsdorf commented on #26
@cabeca No problem. If you are integrating manually an xcframework would be really easier for you, sorry for the inconvenience caused by the delay. Sure, I'll keep you updated.

[2020-12-23 10:49] gutaker commented on #26
Hi guys!
Do you have any ETA on this issue?
My new project heavily relies on your solution.

[2020-12-23 11:07] winkelsdorf commented on #26
@gutaker Unfortunately not officially as there are still several issues with the different Package Managers. We need to investigate all possible Build and Package Manager variants. As of today, Carthage does not support xcframeworks (https://github.com/Carthage/Carthage/issues/2799) and CocoaPods has issues with current v1.10.0 on M1 (fixed for 1.10.1 https://github.com/CocoaPods/CocoaPods/pull/10

[2020-12-23 16:57] gutaker commented on #26
Thanks! `Rosetta` trick for `Xcode` did the job!

[2020-12-23 21:48] winkelsdorf commented on #26
@gutaker Glad to hear that, happy to help! Happy Holidays!

[2020-12-29 15:50] michalmlu commented on #25
@winkelsdorf Any update on the issue?

[2021-01-13 13:01] KoCMoHaBTa commented on #25
@winkelsdorf I'm also looking for support on this topic.

[2021-01-18 10:46] winkelsdorf commented on #25
@michalmlu et al. Sorry for the delay, I was on winter holiday. No, unfortunately not. I passed it on at the time. I am not responsible for this feature request, so I would kindly ask you to contact the official support channel.

[2021-01-20 13:34] mariaschmiterlow opened #27 "Uses default language even though the list of preferred languages contains a valid language (that is not the default language)"
Hello Phrase!

**Summary:**
If the first item in the list of preferred languages is not supported by the app (or Phrase) it seems like Phrase OTA defaults to the default language even though the list contains languages that are supported (but is not the default language).

**Example:**
This example is taken from our app and please let me know if I have misunderstood something about the setup.

Thi

[2021-01-21 12:36] tonnihyldgaard commented on #24
Hey @winkelsdorf is there any update on expected deadline for SPM support? :)

[2021-01-22 13:01] winkelsdorf commented on #24
@tonnihyldgaard et all: Expected very soon, within the next week. All tests currently look very promising. Keeping you updated here.

<img width="422" alt="Screen Shot 2021-01-21 at 13 42 58" src="https://user-images.githubusercontent.com/1413291/105493881-436fb980-5cba-11eb-9d8f-e6109486bf64.png">

[2021-01-25 17:08] angelolloqui commented on #26
I am having the same issue. Is there any expected release time? how did you manage to work around it?

I am using Cocoapods for dependency management on an M1

[2021-01-26 12:00] winkelsdorf commented on #22
@cheif Just wanted to let you know, that the upcoming release will close this issue in a few days.

[2021-01-26 12:02] winkelsdorf commented on #26
@angelolloqui Release is expected within the next 24-48 hrs. We are now defaulting to xcframeworks, where Xcode automatically handles the different Platforms. It will also include arm64 architecture where needed.

In the meantime you could always set arm64 to the excluded Simulator architectures within your Project's Build Configuration.

[2021-01-26 12:20] winkelsdorf commented on #27
Hello @mariaschmiterlow,

Thank you for the detailed report. Yes, that is correct - we use the first preferredLanguage. So, you are not missing anything out in your project's configuration. I have forwarded this to the team as a suggestion for improvement. There may also be similarities to ticket #17.

Unfortunately, I cannot make a statement about whether and how this feature can be implemented.

[2021-01-26 12:37] mariaschmiterlow commented on #27
Thanks @winkelsdorf for your answer and confirming that nothing is wrong with our project setup!

I read through #17 and even though the issues are (probably) not the same they might contain similar touchpoint if/when fixed (but since I don't know your codebase that is ofc hard for me to answer).

Thanks anyway for forwarding it and answering my question! I'll keep an eye on the issue for the futu

[2021-01-26 12:47] cheif commented on #22
@winkelsdorf Looking forward to it! :)

[2021-01-26 12:47] winkelsdorf commented on #27
You're welcome @mariaschmiterlow and sorry for the delay in responding to your query!

[2021-01-27 08:30] winkelsdorf commented on #22
@cheif New version is live. Looking forward to your feedback.

[2021-01-27 08:30] winkelsdorf commented on #24
@all New version is live. Looking forward to your feedback.

Use the git url in Xcode to add the package: `https://github.com/phrase/ios-sdk`.

[2021-01-27 08:31] winkelsdorf commented on #26
@all New version is live. Looking forward to your feedback.

[2021-01-27 08:59] #24 closed

[2021-01-27 09:00] #22 closed

[2021-01-27 09:00] #26 closed

[2021-01-28 13:47] ChristianSteffens opened #30 "Hardcoded path in latest release 3.0"
I noticed an error while debugging our app with the latest Phrase SDK `3.0`.
There's an hardcoded path in the latest framework @winkelsdorf
[code]

[2021-01-28 13:51] winkelsdorf commented on #30
@ChristianSteffens Thank you for the report! Going to investigate this immediately. I can already say that we don't use any hardcoded paths or `.yaml` files. Looks like it might be related to a llvm issue.

How are you integrating the framework? Are you using Carthage?

[2021-01-28 13:56] Schlabbi commented on #30
Same issue here, this completely broke LLDB commands for my entire app. Had to downgrade to 2.3.0 to be able to use LLDB again.

<img width="1450" alt="image" src="https://user-images.githubusercontent.com/13185384/106148028-db691980-6178-11eb-8839-d9a02dbf6053.png">

Integrating the framework on my part was done using Cocoapods.

[2021-01-28 13:58] winkelsdorf commented on #30
@Schlabbi Thanks for your additional feedback!

I'll keep you updated here.

[2021-01-28 14:24] ChristianSteffens commented on #30
We're using cocoapods.

[2021-01-28 14:32] winkelsdorf commented on #30
@ChristianSteffens @Schlabbi I'm able to reproduce this error. From what I'd found it is an error related to the generated dSYMS on Xcode 12 (see https://bugs.swift.org/browse/SR-12933). Trying to workaround that now.

[2021-01-29 09:52] winkelsdorf commented on #30
@ChristianSteffens @Schlabbi Thank you very much for reporting and giving more details! 👍

I was able to identify the underlying issue. It is a regression in the Swift frontend compiler which leads to issues with the generated dSYMs despite using `-no-serialize-debugging-options` (see https://bugs.swift.org/browse/SR-12933 and https://steipete.com/posts/couldnt-irgen-expression/ for more details i

[2021-01-29 12:53] cheif commented on #22
Now I've verified that we don't get the warning any more, great work @winkelsdorf !

[2021-01-29 12:57] winkelsdorf commented on #22
@cheif Thank you very much for your kind words and the feedback, really appreciate that!

Just a note, currently dSYMs shipped with the (xc)framework break the lldb debugger. See #30. We'll release a hotfix shorty, in the meantime you could simply delete the shipped dSYMs coming with the SDK.

[2021-01-29 13:43] cheif commented on #22
Thank for the heads-up, I'll just hold of merging until 3.0.1 is out.

[2021-01-29 13:45] winkelsdorf commented on #22
You're welcome! Yes, that's probably the best. Keeping you updated :)

[2021-01-29 15:30] winkelsdorf commented on #30
@ChristianSteffens @Schlabbi v3.0.1 with a Hotfix is available now

[2021-01-29 15:32] winkelsdorf commented on #22
@cheif v3.0.1 is out now. May take some time for CocoaPods to distribute the new Podspec (they have some issues the past 24 hrs).

[2021-02-03 12:38] tonnihyldgaard opened #32 "Misleading Package Reference Name"
`/* XCRemoteSwiftPackageReference "ios-sdk" */,`

We have noticed that the Phrase SDK for iOS is named `ios-sdk` in the `XCRemoteSwiftPackageReference`, this could potentially lead to package conflicts if another framework uses the same name for their SDK.

It's a minor thing, but I suggest changing the reference name to reduce risk of conflicts :)

[2021-02-03 12:52] winkelsdorf commented on #32
Hello @tonnihyldgaard,

yes, excellent catch, we already noticed the same!

Sadly as of now there is no way to override the Package Reference Name Xcode picks as to my knowledge. If you look at our Package file, we already set the Package Name to `PhraseSDK` accordingly (in https://github.com/phrase/ios-sdk/blob/master/Package.swift) but Xcode uses the Repository Name as Reference Name.

From what

[2021-02-04 15:34] gutaker commented on #30
`3.0.1` works like a charm. No errors, can debug now.
Good job!

[2021-02-05 08:12] winkelsdorf commented on #30
@gutaker Glad to hear that it's working for you now. Thank you very much for the feedback, I really appreciate that! Closing this issue now :)

[2021-02-05 08:12] #30 closed

[2021-02-12 09:26] umangbista2 commented on #25
Ran into the same requirement, hope there will be a modification soon.

[2021-02-12 10:50] umangbista2 commented on #25
@winkelsdorf - also if you can consider my related query over here: [How & Where to Locate Phrase OTA downloaded translation files?](https://stackoverflow.com/questions/66170440/how-where-to-locate-phrase-ota-downloaded-translation-files)

[2021-02-24 20:31] mzsanford opened #33 "Cocoapods Simulator Issue: Use of undeclared identifier 'Phrase'"
I'm integrating the PhraseSDK for OTA updates based on [these instructions](https://help.phrase.com/help/ios-sdk-installation-instructions). This is a mixed Objective-C/Swift project with our AppDelegate in Objective-C. I was able to add the Cocoapod (`pod 'PhraseSDK', '~> 3.0.1'`) and build to a device (iPhone SE 2, Intel Mac) without issue. When I attempt to run the same code in a simulator the

[2021-02-24 20:47] winkelsdorf commented on #33
Hi Matt,

that sounds like a valid setup, especially because it's building to the iPhone.

Initially I would've said that it is missing an import (Xcode not picking up on the `@import PhraseSDK;` and probably needs the bridging header to be imported via `#import <PhraseSDK/PhraseSDK-Swift.h>`, too) - but from not being able to use the SDK only on the simulator, I would say that you either have som

[2021-02-25 17:33] mzsanford commented on #33
We already use "Always Embed Swift Standard Libraries" if that's what you mean by _Swift Library_ embedding. I added the bridging header but it did not help. We don't have any `EXCLUDED_ARCHS` set but we do have a user defined `VALID_ARCHS` set to `$(ARCHS_STANDARD)`, which shows `arm64 armv7`. Our _Archintectures_ key is set to the same `$(ARCHS_STANDARD)`/`arm64 armv7` value. I'm currently attem

[2021-02-25 18:08] winkelsdorf commented on #33
Yes, that's what I meant. Sorry, that was off the top of my head without having Xcode open. Thanks for the clarification on the architecture settings, that seems to be right.

Your CocoaPods version is valid. I just tried the same and it works with ObjC and CocoaPods 1.10.1 using xcframeworks:

<img width="898" alt="Screen Shot 2021-02-25 at 18 53 55" src="https://user-images.githubusercontent.com

[2021-02-25 18:53] mzsanford commented on #33
Thanks so much for the quick reply and ideas. I do see the `PhraseSDK.xcframework` and it includes the Simulator slice. I pulled the text build log and found that it appears to select the correct slice as well:

[code]

I then tried calling `Phrase.shared.debugMode = true` in our first Swift controller to see if that would provide any new insights and that causes a linker failure when building:

[

[2021-02-25 19:03] winkelsdorf commented on #33
You're very welcome!

Yes, that's really odd. It should never try looking for the x86_64 in the `ios-arm64_armv7` directory but instead pickup the one in `ios-arm64_i386_x86_64-simulator`. The xcframework folder structure is correct.

I just created a fresh ObjC project with a simple podfile including the `PhraseSDK` which worked well on both a Device and the Simulator. Xcode 12.4 btw.

Then I add

[2021-02-25 19:57] mzsanford commented on #33
I noticed a warning from the only other xcframework Pod we use and confirmed that is also done not work in the simulator. So this is not a PhraseSDK specific problem. The other Pod is a development tool that is only being used against devices so nobody had noticed. I downgraded PhraseSDK to 2.3.1 and the pre-xcframework version works fine. That will un-block our development while I try to solve th

[2021-02-25 21:35] mzsanford commented on #33
I pulled out the very long linker command used for the original Objective-C version and noticed it does not include the `XCFrameworkIntermediates` directory the rsync is using. It does contain `-FPods/PhraseSDK/PhraseSDK.xcframework/ios-arm64_armv7 -FPods/PhraseSDK/PhraseSDK.xcframework/ios-arm64_i386_x86_64-simulator -FPods/PhraseSDK/PhraseSDK.xcframework/ios-arm64_x86_64-maccatalyst`. It seems t

[2021-02-25 21:45] winkelsdorf commented on #33
@mzsanford Pretty impressive investigation, glad you were able to identify the underlying issue more. Fwiw, you should have no issues with using PhraseSDK 2.3.1 in the meantime, the backend API has been unchanged between those releases.

Btw: We're still shipping a compatibility framework (as "fat" universal binary) exactly for situations like this. Just point the Podfile to the git repo's Podspec

[2021-04-26 12:47] angelolloqui opened #34 "Use only configured app supported languages in OTA"
We have seen that there are unsupported languages shown in the app that were not expected.

The problem seems to be coming from OTA. When you have a new language created in Phrase, and you create an OTA, all devices are downloading all existing languages in Phrase and not only those listed in the supported languages of the app.

So, basically, if I run this:

[code]

I get this list:

[code]

But,

[2021-04-28 06:38] winkelsdorf commented on #34
Hello @angelolloqui,

thank you for reporting and reaching out.

We are only downloading one language at time, which is either `Locale.preferredLanguages.first` (or the given `localeOverride`). I think the problem is, that you already include french in your OTA _release_.

I am unsure if this is a SDK issue, maybe @theSoenke can shed some light on this speaking from the backend logic?

Best regard

[2021-04-29 07:10] theSoenke commented on #34
Hey, right now the assumption is that translations included in a release on Phrase are ready for production. Restricting fetched locales to the supported locales from `Bundle.main.localizations` would prevent dynamically adding new languages with a release in Phrase. Another possible issue is regional local codes. For example `en` is part of `Bundle.main.localizations` but `en-US` is not.

Nonethe

[2021-05-07 07:25] angelolloqui commented on #34
Thanks to both. Answering:

It is a valid point, but anyway adding dynamic languages will not fully work since the app settings will not show languages that are not included within the bundle.

For us, if you provide a configuration in the client side with something like `Phase.shared.restrictSupportedLanguages = true` would be enough, and keep the default to false if you want to provide this out

[2021-05-26 14:22] michalmlu commented on #25
@winkelsdorf - What is the official support channel, cause I have been directed here after talking to Customer Support team?

[2021-05-27 06:59] winkelsdorf commented on #25
@michalmlu Thanks your feedback, sorry about that, of course that wasn't supposed to happen.

@theSoenke Could you please take care of this?

[2021-05-27 07:00] winkelsdorf commented on #33
@mzsanford Just a quick follow-up: Has this been resolved for you?

[2021-05-27 07:15] winkelsdorf commented on #32
@tonnihyldgaard Without any change to our Package, starting with Xcode 12.5 this seems to work correctly:

<img width="264" alt="Screen Shot 2021-05-27 at 09 11 38" src="https://user-images.githubusercontent.com/1413291/119781920-dc624b80-becb-11eb-93ed-eafcc76b37e2.png">

<img width="852" alt="Screen Shot 2021-05-27 at 09 11 23" src="https://user-images.githubusercontent.com/1413291/119781939-e1b

[2021-05-27 16:07] mzsanford commented on #33
I ended up working around my editing the linker command for the prototype using Phrase. The project has since ended so I won't have any other feedback on it.

[2021-05-27 16:07] #33 closed

[2021-05-28 11:54] theSoenke commented on #25
Hey @michalmlu, after some discussions with the team, we came to the conclusion that we won't be adding support for NSLocalizedString swizzling with different bundles in the near future. The feature would require a significant re-architecture of the SDK and possibly the backend and we simply don't have enough resources for it. We are sorry if this means the SDK is not usable in your project.

[2021-05-28 14:19] winkelsdorf commented on #33
No problem, thanks for the follow up :)

[2021-06-02 12:37] #25 closed

[2021-06-10 13:31] angelolloqui opened #35 "Performance impact with OTA"
Hi, I am debugging some slowness in a collection view we have with several strings on it, refreshed very frequently.

For my surprise, more than 80% of the time is spent into the PhraseSDK. Attached screenshot focused on the `NSLocalizedString` subtree.

As you can see, I do not have the code to check the exact method invocations, but it seems that the code is doing some stuff with `NSFileManager`

[2021-06-10 15:30] winkelsdorf commented on #35
Hi @angelolloqui,

thank you for reporting this! With the given information it's a little bit difficult to say where the performance bottleneck really is. The `UICollectionView` is known for its bad performance under some circumstances.

You're right about that we are fetching things on-demand from the bundle, to ensure the data is still valid. Optimizing the Bundle URL lookup is a very good sugge

[2021-06-11 15:32] scannillo commented on #21
👋 While the solution @mattiriihimaki linked gets things working, it doesn't seem like an ideal long term solution since it won't allow simulator builds to run on an M1 mac. Do you have ideas for a solution beside excluding arm_64 simulator archs from the podspec?

[2021-06-11 17:36] winkelsdorf commented on #21
Hi @scannillo,

the mentioned workaround is not be necessary anymore, a fully M1/arm64 compatible release was published in January 2021. Just install the latest version e.g. via CocoaPods (please update CocoaPods itself too), SwiftPM or the see latest releases https://github.com/phrase/ios-sdk/releases when installing manually.

Feel free to open a new issue if you have any issues or troubles gett

[2021-06-15 06:54] angelolloqui commented on #35
Hi @winkelsdorf  , thanks for answering.

Regarding your questions, yes, I was profiling under debug because my intention was only to find out the cause rather than having an exact number of ms of work spent, so for sure, in pro it will not take 600ms (but enough to perceive framedrops).

Behind that, I saw another optimization in my own code, because we were doing translation twice for same strin

[2021-06-17 12:51] winkelsdorf commented on #35
Hi @angelolloqui,

thank you for your valuable feedback! Glad you were able to reduce the issue for your project. Yes, absolutely, we will check and identify potential issues, especially regarding caching the Bundle (at least the Bundle URL Instance).

Best
Frederik

[2021-06-22 07:25] angelolloqui opened #36 "Min/Max version constraints behaviour"
Hi, I am running into something that might be expected behavior but I was expecting something different and I can not see any explicit comment about this in the doc. How is the min/max version range supposed to work?

### What I expected
Min/Max to be applied not only on downloading but also in future uses. So, if for example I am in app version 3.1.0, and there is an OTA for [3.0.0 - 3.2.0], then

[2021-06-28 07:02] theSoenke commented on #36
Hey @angelolloqui, right now the app version constraint only applies during the initial fetch of the latest translations. After that, the version constraints are not checked on the device. But this is a really good point and we'll investigate adding this check to the SDKs. So right now it is not possible to enforce this constraint as an SDK user. I'll provide an update here as soon as we've figure

[2021-06-28 09:14] lucasecf opened #37 "Code signing fail when adding as sub-dependency"
### What is it:
* PhraseSDK makes app crash on runtime(app start) when it's added as a dependency of a framework.
* Integration is being done through Swift Package Manager (directly on Xcode)
* Issue happens **only** when running on devices (simulator works fine)

### Crash Log
[code]

### Context

My company recently decided to integrate phrase's OTA SDK, and now I'm facing an issue a bit specifi

[2021-06-28 09:27] winkelsdorf commented on #37
Hi @lucasecf,

thanks for your report. As you already guessed, this is a signing issue (thus only affects the Device, not the Simulator). In this situation you likely need to take care of the signing of nested frameworks on your own. This is not related to Phrase SDK, it will happen with any Binary Framework.

See Apple TN2435 (https://developer.apple.com/library/archive/technotes/tn2435/_index.ht

[2021-06-28 12:54] lucasecf commented on #37
Hi @winkelsdorf , thanks for the quick feedback.

I'm aware of this signing issue/limitation from Apple side, but I'm new on adopting SPM, so I wondered if something changed or if there was any configuration that a binary framework could do in order to make this work.

I'm not sure how to do this actually, given `Phrase` is being added as a swift package on the internal framework with SPM.

I'd sa

[2021-06-28 14:19] winkelsdorf commented on #37
Hi @lucasecf,

you're very welcome!

Yes, the problem are really the nested binary frameworks, that's why Xcode struggles to sign them properly (it's off-track as per TN) :( Please ignore my idea about integrating it in the App target itself with SPM. That would likely lead to duplicate framework targets within the App.

I did a bit of research and it looks like it's an Xcode issue even with 12.5.

[2021-06-29 09:16] lucasecf commented on #37
Hi @winkelsdorf ,
Since there's nothing you can do/change in the framework side, I'll close this issue.
Thanks again for the feedback/suggestions/links, I will evaluate with my team how's the best workaround for now.

[2021-06-29 09:16] #37 closed

[2021-06-29 10:42] winkelsdorf commented on #37
Hi @lucasecf,

you're welcome and thank you for your feedback. Crossing my fingers for you and your team to find a suitable solution soon!

Best
Frederik

[2021-06-29 10:42] #32 closed

[2021-07-01 06:30] angelolloqui commented on #36
Suggestion: If you do not want to provide such a thing, at least, provide a "clearCache" method or alike that deletes any previous stored content. This way I could control that myself and call it on each app update. The negative side of it is that then it will always download for all users every time they update, so increased load.

[2021-09-14 06:39] angelolloqui opened #38 "Provide DSYM files for xcframework"
Hi,
I am getting some crashes from one of my dependencies that is not symbolicated since we do not have the DSYM files of them. Symbols from code we have access to is uploaded, so it can only be from one of the 3 options xcframeworks included in my app, one being phrase (unfortunatelly I do not know if the crash is from this lib or some of the other 2). Could you provide the DSYM files for each re

[2021-09-17 09:31] winkelsdorf commented on #38
Hi @angelolloqui,

sorry to hear that you have troubles identifying your issue because of that. Sure, we're going to provide them with the next release. We need to separate them from the .xcframework due to a compiler/linker issue we ran into (affecting older Xcode which are still in our support matrix), but providing them for manual upload is a very good suggestion!

Best regards
Frederik

[2021-09-27 14:50] DKalachniuk opened #39 "Preferred language is ignored"
Hello Phrase,

Could you please help us to investigate an issue. So in ou project we have 4 languages: de(default), en, it and fr
The language of iphone is russian. I also chose English as prefered language of the app
![IMG_DB9E5C9BE053-1](https://user-images.githubusercontent.com/2156751/134932001-2e3f86ba-e8e5-460e-a397-24c0fcc4a183.jpeg)

however when I open the app everything is in german... i

[2021-10-07 08:59] winkelsdorf commented on #39
Hello @DKalachniuk,

sorry for the late response. Thanks for the report! We are currently trying to reproduce this and keep you updated.

Best regards

[2021-11-10 19:54] leonardo-ferreira07 opened #40 "[Binary upload error] Multiple binaries with same code sign path"
Hello Phrase team,

We have been using Phrase on our main iOS app and recently we included Phrase into our macOS Catalyst project as well - the Phrase sdk was added into the macOS project via SPM. In our internal tests, no issues have been raised, all works perfectly.

But today when trying to upload a new build to App Store, we caught a new issue due to multiple binaries being signed using the sa

[2021-11-29 18:30] winkelsdorf commented on #40
Hello @leonardo-ferreira07,

sorry for the late reply, as we are currently preparing a new release.

The error you get is like related to Xcode including the framework for the different targets twice. In such a situation I would suggest checking the Build Phases if there are any duplicates. If not currently the only way is to manually remove the duplicate using a build script phase (or something s

[2021-12-10 09:19] winkelsdorf commented on #39
@DKalachniuk: We were able to reproduce this problem and will address it in the next release.

@angelolloqui: Thank you for the given code. Could you try using just
`let preferredLanguage = Bundle.main.preferredLocalizations.first` instead of your iterating code? It should give you the same result, a language code which fits the system/app preferences and the languages the bundle supports (in the

[2022-01-24 15:00] angelolloqui commented on #39
@winkelsdorf it is not the same thing. I believe your suggested method will not contain the "regional languages". For example, if your main language is ES-MX, your method will return ES only, so the mexican customizations are discarded (I havent checked, but when I researched on this solution this was the only combination that worked in my case, combining regions and supported languages

[2022-01-29 12:38] winkelsdorf commented on #39
@angelolloqui Thank you for your valuable feedback!

I now verified it to be working correctly, e.g. when the System is set to `German`, the System Region is set to `Austria` and the App Bundle contains `de-AT`. `Bundle.main.preferredLocalizations` then correctly returns `de-AT` with `de` as fallback in the returned array. If the bundle only supports `de`, then only `de` is returned, ignoring the

[2022-03-03 16:06] winkelsdorf commented on #36
@angelolloqui I welcome you to test our latest RC which implements min/max behaviour and provides an additional clear method. See: https://github.com/phrase/ios-sdk/releases/tag/4.0.1-rc.1. Glad to get your feedback on this :)

[2022-03-03 16:07] winkelsdorf commented on #39
I welcome everybody to test our latest RC which implements some changes related to our language detection logic. See: https://github.com/phrase/ios-sdk/releases/tag/4.0.1-rc.1.

[2022-03-03 16:09] winkelsdorf commented on #27
I welcome you to test this with our latest RC, where we adjusted the language detection logic: https://github.com/phrase/ios-sdk/releases/tag/4.0.1-rc.1

[2022-03-30 06:50] romaHerman opened #41 "unchecked "use default language as locale" setting in OTA doesn't work"
Preconditions:
- create OTA distribution with use default language as locale unchecked
- have 2 locales in the app (e.g A and B)
- have only locale A in the Phrase
- have locale override setting enabled during Phrase setup because I have in-app language switcher
- Switch to language B
Expected result:
- app switches to local localisable string from language B ( I tried with swizzling enabled and n

[2022-05-03 06:41] theSoenke commented on #41
Hey @romaHerman, could you share the language codes for A and B? Are they completely different or possibly share the first part of the code? E.g. en_GB and en_US?

[2022-05-04 08:57] mihai-honceriu opened #42 "Two languages being returned when using "localeOverride""
Short summary of our setup:

- We want to have an in-app language picker
- We are using R.swift for strong typed resources

To reproduce the issue, I have to:
1) Set language in iOS Settings -> Our app to anything other than "English"
2) Set in-app language (localeOverride) to "en"
Result is: most of the strings are in english, but some of them will use the language in iOS Settings instead of the

[2022-05-05 06:47] theSoenke commented on #42
Hi @mihai-honceriu, you are already using version 4.0.1 correct? @winkelsdorf Could you maybe take a look at what might be the cause for the reported issue here?

[2022-05-05 08:01] winkelsdorf commented on #42
Hi @mihai-honceriu. Thank you for your valuable feedback regarding using R.Swift together with the Phrase SDK.

As @theSoenke said, could you please confirm the version of the Phrase SDK you are using? Best together with your R.Swift Version, the Xcode Version (which gives us a hint about the used Swift Version) and the minimum supported target iOS Version?

I think we need to separate this into t

[2022-05-05 08:49] mihai-honceriu commented on #42
Hey and thank you for the swift answer!

I am using: Phrase: 4.0.1-rc.1, Rswift: 6.1.0, Xcode: 13.3, Swift 5, Min iOS 13

From what I understand from https://github.com/mac-cain13/R.swift/pull/553 , using the `preferredLanguages` of R.swift would actually bring us to the issue number 1. Depending on the `preferredLanguage` passed to R, it will use a bundle other than the main bundle. I have tried

[2022-05-06 13:19] theSoenke commented on #42
Thanks @winkelsdorf. I would say we should then investigate how we could handle this. Would be great if you could look into this

[2022-05-17 14:05] mihai-honceriu commented on #42
Hello, is there any update on this issue? We are still not being able to deliver our in-app language change and cross-platform language sync because of it.

[2022-05-19 09:04] angelolloqui commented on #36
Thanks @winkelsdorf ! I missed your comment but I was entering to check the status because this is raising as a critical in some circustances... do you know when the release will be made final? I will try to give it a try in meanwhile, but we normally never ship beta or rc versions that are not finals.

[2022-05-19 10:01] angelolloqui commented on #36
@winkelsdorf it works like a charm! at least the min/max version part! thanks!

Regarding the other updates, specially the ones with the different language configurations, what are the changes applied? can I safely remove the override [I made here](https://github.com/phrase/ios-sdk/issues/39#issuecomment-947820872)?

[2022-06-06 16:47] winkelsdorf commented on #36
@angelolloqui Sorry for the late reply. We are planning to release in a few weeks, still testing all possible combinations to ensure a stable SDK. From what I had tested: yes, as long as your Bundle contains regions they will be respected as well and you can safely remove your override, too.

And thank you again for your valuable feedback and suggestions, you are very welcome, glad to hear that mi

[2022-06-09 12:54] bill-florio opened #44 "Planning for OTA SwiftUI support?"
Hi! I would like to ask it there any planning to support SwiftUI? Currently I have a workaround like this:
[code]

But my App have hundreds of Texts and Buttons to change and it is not practical.

[2022-06-10 14:35] bill-florio opened #45 "String is not localised when running test plan with multiple configs"
When running unit test for multiple languages, the random language config(mostly the first one.) is not localised if Phrase is setup. Current workaround is skill Phrase set up when running unit tests

<img width="909" alt="Screenshot 2022-06-10 at 16 33 34" src="https://user-images.githubusercontent.com/100680992/173088626-0577fabf-3ba9-4307-aba7-34e4b775209b.png">

[2022-06-10 15:21] winkelsdorf commented on #45
Hello @bill-florio,

thank you for your question. I think we need a bit more information here about what you want to achieve and how you are trying to do so.

- Is this an UI or an Unit Test? Meaning: are you running in the context of a XCUIApplication or any other Host Runner (e.g. like CocoaPods does for Unit Tests with App Hosts)?
- How do you download the translations? Are you waiting for them

[2022-06-10 15:29] bill-florio commented on #45
It is a unit test, with SwiftSnapshotTesting library

The project have a copy of localised strings. No waiting for downloading the translations.

[2022-06-10 16:30] winkelsdorf commented on #45
Thank you for the answer and the details.

Then I have a strong guess what is going on:

## Missing Preferences

The Phrase SDK stores the list of available translations in the Preferences. This is necessary because we need to know for which distribution which language is available. In the test, this information will most likely be missing and only the translation files will have been copied.

In

[2022-06-11 08:53] winkelsdorf commented on #42
I tried your failing setup, e.g. iOS Settings: German, localeOverride: English. All of the delivered keys were correctly translated using R.swift to my set `localeOverride`.

See this example:

<img width="1168" alt="image" src="https://user-images.githubusercontent.com/1413291/173180880-1f354ac6-d450-4dda-91c7-087dc64ed1a2.png">

As a general setup suggestion can you please check that your App su

[2022-06-13 08:37] bill-florio commented on #44
Thanks for your detailed answer. There will be quite a lots of Text/Button and etc in my project already using LocalizedKey.

[2022-06-14 19:15] winkelsdorf commented on #36
I am pleased to announce that v4.0.1 has just been released. I'm closing this issue for now, if there are any questions let me know - just reopen or create a new ticket.

[2022-06-14 19:15] #36 closed

[2022-06-14 19:17] winkelsdorf commented on #40
I am pleased to announce that v4.0.1 has just been released, which provides the correct xcframeworks. I'm closing this issue for now, if there are any questions let me know - just reopen or create a new ticket.

[2022-06-14 19:17] #40 closed

[2022-06-14 19:34] winkelsdorf commented on #39
I am pleased to announce that v4.0.1 has just been released, which includes the improved language detection and fallback logic. I'm closing this ticket for now, if there are any questions about it, let us know - just reopen or create a new ticket.

[2022-06-14 19:34] #39 closed

[2022-06-14 19:40] winkelsdorf commented on #17
I am closing this topic due to inactivity. If there is still this question with a current SDK version, please feel free to reopen it. However, as a backend feature request, it will be followed up elsewhere if necessary.

[2022-06-14 19:40] #17 closed

[2022-06-14 19:48] winkelsdorf commented on #44
You are welcome! I can understand that this is not a very satisfactory answer, unfortunately. If this changes, we will of course be happy to inform you.

[2022-06-14 19:52] winkelsdorf commented on #27
I am pleased to announce that v4.0.1 has just been released, which includes an improved language detection and fallback logic. I'm closing this ticket for now, if there are any questions about it, let us know - just reopen or create a new ticket.

[2022-06-14 19:52] #27 closed

[2022-06-14 20:43] winkelsdorf commented on #34
@angelolloqui Unfortunately, we have not yet implemented the suggestion with today's new release in order to avoid side effects.

However, I think that the new logic still fits well, because if `localeOverride` is _not_ used or is only set to languages that are returned from `Bundle.main.preferredLocalizations` or elements returned from `Bundle.main.localizations`, localisation would also be limit

[2022-06-15 06:25] mariaschmiterlow commented on #27
Thanks @winkelsdorf for updating the issue and a RC to test out. We will look into it and hopefully it will solve the issue we saw previously 👍  Thanks again for getting back!

[2022-06-15 07:03] winkelsdorf commented on #27
With pleasure @mariaschmiterlow! Among many other improvements, the new logic should cover exactly this use case, I look forward to your feedback.

[2022-07-05 12:13] mihai-honceriu commented on #42
I'm sorry i closed the issue as completed by mistake. Could anyone re-open it? Sorry for that 😄

@winkelsdorf @theSoenke

[2022-07-05 12:15] winkelsdorf commented on #42
@mihai-honceriu sure, no problem, reopened! Thank you very much for your detailed answer, I'll have a deeper look into that later too.

[2022-08-10 09:44] #44 closed

[2022-08-10 09:44] forelabs commented on #41
Closing due to inactivity.

[2022-08-10 09:44] #41 closed

[2022-08-10 09:45] forelabs commented on #34
Closing issue due to inactivity.

[2022-08-10 09:45] #34 closed

[2022-08-10 09:47] forelabs commented on #45
Closing due to inactivity.

[2022-08-10 09:47] #45 closed

[2022-08-22 07:42] kabirkhaan opened #48 "Preferred language automatically switch to Localization native development region"
After updating 4.0.1 we are facing an issue that app use `Localization native development region`

Steps to Reproduced:
- Device language is set `de`
- App Preferred language is set to `de`
- **Randomly after OTA sync,** App uses `en` which is set `Localization native development region`

<img src="https://user-images.githubusercontent.com/25608902/185865865-9b4038a7-ef82-478d-a799-3e338e095d4a.pn

[2022-08-31 12:22] theSoenke commented on #48
Do you maybe have an idea what could be the reason why en translations are showing after the upgrade to 4.0.1 @winkelsdorf?

[2022-09-07 17:03] kabirkhaan commented on #48
As my understanding it picking up Localization native development region from plist for some reason.

[2022-09-13 09:42] bill-florio opened #49 "Xcode 14 preview error"
Hi! when I open my project with Xcode 14, I got this error:

[code]
Reopen with Xcode 13 works fine.

[2022-09-13 10:02] winkelsdorf commented on #49
Hi @bill-florio,

thank you for your report!

As to my knowledge Xcode 14 currently has issues with Previews together with SPM packages.

Please see:
https://developer.apple.com/forums/thread/707569

We are investigating if we can do anything on our end to fix this.

[2022-10-06 06:03] mariaschmiterlow commented on #27
Hi again @winkelsdorf
We have now updated Phrase in our codebase and ensured that the issue ☝️ is actually fixed with the new release! Thanks a lot 🙏  And many thanks for keeping us in the loop!

And sorry for the late feedback! I had hopes to get this in much earlier but it wasn't possible 🙂

[2022-10-31 19:18] winkelsdorf commented on #49
Follow-Up: It still seems to be broken with Xcode 14.0.1. We don't adjust the library type in our Package.swift as we have a very simple Package (https://github.com/phrase/ios-sdk/blob/master/Package.swift), so unfortunately nothing we can do about right now.

From what I read, Apple is likely to fix this with Xcode 14.1, currently in Beta.

Sorry for the inconvenience.

[2022-10-31 19:18] #49 closed

[2022-11-02 09:37] arthur-chambriard commented on #49
Hello
FYI: I had the issue as well. Xcode 14.1 has been released yesterday and fixes the issue.

[2022-11-22 07:36] honkmaster opened #50 "tableName parameter is ignored, Phrase always returns from Localizable"
Simplified description of the situation: In our app there are several translation tables. One general table (Localizable) and one with tenant-specific content (Localizable-Tenant).

Without phrase (or more precisely before calling setup) we can get localizations from the different tables by specifying the tableName in NSLocalizedString(...).
After calling setup, the current version of Phrase (4.0.

[2022-11-24 07:51] theSoenke commented on #50
Hi @winkelsdorf, could you maybe take a look at this issue and whether the behavior between the versions changed? Thanks!